# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.idea/

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# QLiveReleases
*.pik
*.dill

# Files from Forge MDK
forge*changelog.txt

/local/
/server/
/mods_items.pik
/quark/
/refinedstorage/
/mekanism/
/logs/
/.vscode/
/ideas/Rebearth+-+v3.0.zip
/ideas/mooblooms-e2601.zip
/releases/
/src/main/resources/META-INF/buildnumber.txt
